In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import datetime
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data
#data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget'] # создаем колонку прибыль в датафрейме

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# трансформация ячейки датафрейма

def _trans(_l):
    return list(itertools.combinations(sorted(_l),2))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()]['original_title'].values[0]

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
answers['2'] = data[data.runtime == data.runtime.max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data[data.runtime == data.runtime.min()]['original_title'].values[0]

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = round(data.runtime.mean(),0) # значение средней длительности округляем до целой величины минут

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = round(data.runtime.median(),2) # значение медианной длительности округляем до целой величины минут

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].sort_values('profit', ascending=False).iloc[0]['original_title']

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = data[data.profit == data.profit.min()].sort_values('profit').iloc[0]['original_title']

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = data[data['release_year']==2008].sort_values('revenue', ascending=False) \
                                               .iloc[0]['original_title']

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = data[data['release_year'].between(2012,2014)].sort_values('profit') \
                                                             .iloc[0]['original_title']

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

data11 = data.copy()
data11.genres = data11.genres.str.split('|')
data11 = data11.explode('genres')
answers['11'] = data11.genres.value_counts().index[0]

ВАРИАНТ 2

In [19]:
lg = []
data11 = data.copy()
for _, row in data11.iterrows():  # Итерация по строкая датафрейма
    lg = lg + row['genres'].split('|')

c = collections.Counter()
for genre in lg:  # Итерация по списку и формирование счетчика
    c[genre] += 1

answers['11'] = c.most_common(1)[0][0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
data12 = data.copy()
data12.genres = data12.genres.str.split('|')
data12 = data12.explode('genres')
answers['12'] = data12[data12['profit'] > 0].groupby(['genres'])['genres'].count() \
                                            .sort_values(ascending=False).index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
data13 = data.copy()
answers['13'] = data13.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
data14 = data.copy()
data14.director = data14.director.str.split('|')
data14 = data14.explode('director')
data14 = data14[data14.genres.str.contains('Action')]
answers['14'] = data14.groupby(['director']).director.count().sort_values(ascending=False).index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
data15 = data[data['release_year'] == 2012].copy()
data15['cast'] = data15.cast.str.split('|')
data15 = data15.explode('cast')
answers['15'] = data15.groupby(['cast']).revenue.sum().sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
data16 = data[data.budget > data.budget.mean()].copy()
data16.cast = data16.cast.str.split('|')
answers['16'] = data16.explode('cast').cast.value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
data17 = data[data.cast.str.contains('Nicolas Cage')].copy()
data17.genres = data17.genres.str.split('|')
answers['17'] = data17.explode('genres').genres.value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit') \
                                                                                     .iloc[0]['original_title']

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
data19 = data.copy()
answers['19'] = data19.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
data20 = data[data.production_companies.str.contains('Warner Bros')].copy()
answers['20'] = data20.groupby(['release_year']).profit.sum().sort_values(ascending=False).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
data21 = data.copy()
data21['release_date'] = pd.to_datetime(data21['release_date'], format = '%m/%d/%Y')
data21['month'] = data21['release_date'].dt.month
data21 = data21.groupby(['month']).month.count().sort_values(ascending=False)

answers['21'] = data21.index[0]
data21

month
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
data22 = data21
a = 0
for m in [6,7,8]:
    a += data22[m]

answers[22] = a

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
data23 = data.copy()
data23['release_date'] = pd.to_datetime(data23['release_date'], format = '%m/%d/%Y')
data23.director = data23.director.str.split('|')
data23 = data23.explode('director')
answers['23'] = data23[(data23['release_date'].dt.month == 1) | \
                       (data23['release_date'].dt.month == 2) | \
                       (data23['release_date'].dt.month == 12)]\
                       .groupby(['director']).director.count().sort_values(ascending=False).index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
data24 = data.copy()
data24['title_length'] = data24.original_title.str.len()
data24.production_companies = data24.production_companies.str.split('|')
data24 = data24.explode('production_companies')
answers['24'] = data24.groupby(['production_companies']).title_length.max().sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
data25 = data.copy()
data25['overview_length'] = data25.overview.str.split().apply(len)
data25.production_companies = data25.production_companies.str.split('|')
data25 = data25.explode('production_companies')
answers['25'] = data25.groupby(['production_companies']).overview_length.mean().sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
data26 = data.copy()
interval = data26.vote_average.value_counts(normalize = True, bins = 100).index.sort_values(ascending=False)[0]
data26 = data26[(data26['vote_average'] >= interval.left) & (data26['vote_average'] <= interval.right)]
answers['26'] = data26.original_title.values[0]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
data27 = data.copy()

data27['cast'] = data27['cast'].str.split('|').apply(sorted)
data27['cast'] = data27['cast'].apply(lambda _l : list(itertools.combinations(_l,2)))
answers['27'] = data27.explode('cast').cast.value_counts()[:5]

In [36]:
data27 = data.copy()

data27['cast'] = data27['cast'].str.split('|').apply(sorted)
data27['cast'] = data27['cast'].apply(_trans)
answers['27'] = data27.explode('cast').cast.value_counts()[:5]

In [37]:
data27 = data.copy()
pairs = []

data27.cast = sorted(data27.cast.str.split('|'))

for _, row in data27.iterrows():  # Итерация по строкая датафрейма
    pairs.extend(list(itertools.combinations(row['cast'],2)))

c = collections.Counter()
for pair in pairs:  # Итерация по списку и формирование счетчика
    c[pair] += 1

answers['27'] = c.most_common(5)

# Submission

In [38]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110.0,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 22: 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'The Dark Knight',
 '27': [(('Daniel Radcliffe', 'Emma Watson'), 8),
  (('Daniel Radcliffe', 'Rupert Grint'), 8),
  (('Rupert Grint', 'Emma Watson'), 7),
  (('Ben Stiller', 'Owen Wilson'), 6),
  (('Johnny Depp', 'Helena Bonham Carter'), 6)]}

In [39]:
# и убедиться что ни чего не пропустил)
len(answers)

27